.danger_massage{
    color : white;
    background-color: red;
    border-radius: 20px; 
    height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
}
.success_massage{
        color : white;
    background-color: rgb(212, 0, 255);
    border-radius: 20px; 
    height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
}
.danger_massage_me{
    color : white;
    background-color: red;
    border-radius: 20px; 
    height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}
.success_massage_me{
    color : rgb(0, 0, 4);
    background-color: rgb(30, 255, 0);
    border-radius: 20px; 
    height: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}